.applicationFilter{
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vh;
}

.search{
    width: 30%;
    height: 100%;
    margin-left: 2vw;
}

.searchText{
    font-family: Arial;
    font-size: large;
    width: 100%;
    height: 50%;
    margin-top: 5%;
}

.inputBlock{
    width: 100%;
    height: 50%;
    margin-top: 2%;
}

.searchInput{
    height: 90%;
    width: 80%;
    border-radius: 8px;
    border: 1px solid #949695;
}

.searchButton{
    height: 90%;
    width: 15%;
    background-color: #188DFE;
    border: 1px solid #949695;
    color: #ffffff;
    border-radius: 7px;
    margin-left: 2%;
}

.searchButton:hover{
    background-color: #0072BC;
    border: 1px solid #7e807e;
}

.sorting{
    width: 30%;
    height: 100%;
    display: block;
}

.selectSort{
    width: 100%;
    height: 50%;
    margin-top: 2%;
    border-radius: 7px;
    color: #8C9195;
}

.sortingText{
    font-size: large;
    font-family: Arial;
}

.statusFilter{
    width: 30%;
    height: 100%;
    margin-right: 2vw;
}

.filterText{
    font-size: large;
    font-family: Arial;
}

.selectFilter{
    width: 100%;
    height: 50%;
    border-radius: 7px;
    color: #8C9195;
    margin-top: 2%;
}