.App {
  background-color: #DBDBDB;
  width: 100vw;
  height: 100vh;
}

.buttonRegistr,.buttonAutorisation{
  background-color: transparent;
  color: white;
  font-size: medium;
  border-radius: 7px;
  border-color: transparent;
  height: 50%;
}

.buttonRegistr:hover,.buttonAutorisation:hover{
  color: darkgrey;
  border-color: darkgrey;
  border: 1px solid darkgrey;
}

.mainHeader{
  display: flex;
  justify-content: space-between;
  background-color: grey;
  align-content: center;
  width: 100vw;
  height: 7vh;
}

.autorButtons{
  display: flex;
  justify-content: center;
  align-items: center;
}